[submodule "MuNixAnsible"]
	path = MuNixAnsible
	url = git@github.com:mfwolffe/MuNixAnsible.git
[submodule "MuNixArchiso"]
	path = MuNixArchiso
	url = git@github.com:mfwolffe/MuNixArchiso.git
[submodule "MuNixPureFlake"]
	path = MuNixPureFlake
	url = git@github.com:mfwolffe/MuNixPureFlake.git
[submodule "MuNixPureShell"]
	path = MuNixPureShell
	url = git@github.com:mfwolffe/MuNixPureShell.git
[submodule "MuNixSystem"]
	path = MuNixSystem
	url = git@github.com:mfwolffe/MuNixSystem.git

